<router-outlet />

<h1 id="titulo">BLUEPRINTS</h1>
<form>
  <div class="mb-3">
    <label for="author" class="form-lable">Author's Name</label>
    <input class="form-control" [(ngModel)]="author" name="author" id="author">
    <button type="submit" class="btn btn-primary" (click)="obternerBlueprints()">Search</button>
  </div>
  <div>
    <div id="info">
      <h2 id="subtitile">Author: </h2>
      <table class="table">
        <thead>
          <th scope="col">Blueprint's name</th>
          <th scope="col">Number of points</th>
          <th scope="col">Open</th>
        </thead>
        <tbody>
          <tr *ngFor="let blueprint of blueprintsList">
            <td>{{ blueprint.name }}</td>
            <td>{{ blueprint.points.length }}</td>
            <td><button class="btn btn-primary" (click)="getBlueprint()">Open Blueprint</button></td>
          </tr>
        </tbody>
      </table>
      <br/>
      <h2 id="subtitile">Total user's points: {{ totalPoints}}</h2>
    </div>
    <div id="canvas">
      <h2 id="subtitile">Name: {{name}}</h2>
      <div>
        <canvas id="lienzo" width="400px" height="400px" #canvasRef></canvas>
      </div>
    </div>
  </div>
</form>